@charset "utf-8";
//HTML标准元素统一设置
html, body {
  height: 100%;
}

body { //数字取新罗马字，汉字取微软雅黑
  font: normal normal 14px "Times New Roman", "Microsoft YaHei";
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../img/bg.jpg") 100% 100% no-repeat;
  padding-top: 34px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  line-height: 1;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, b, u, i, s, em, strong {
  font-weight: normal;
  font-size: unset;
  text-decoration: none;
  font-style: normal;
}

ul, ol {
  list-style-type: none;
}

//自定义图标公共样式
.icon {
  background: url("../img/icon.png") no-repeat;
  display: inline-block;
  cursor: pointer;
}

//弹窗公共样式
.pop-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  z-index: 1000;
  background: rgba(0,0,0,.3);
  &.show {
    display: block;
  }
  .pop {
    background: url("../img/pop_bg.png") 100% 100% no-repeat;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1247px;
    height: 626px;
    padding: 80px 70px 0;
    &.show {
      display: block;
    }
    .close {
      position: absolute;
      right: 58px;
      top: 56px;
      cursor: pointer;
    }
    .title {
      font-size: 30px;
      color: #fff;
    }
    ::-webkit-scrollbar {
      width: 8px;
      height: 100%;
    }
    ::-webkit-scrollbar-track {
      background-color: rgb(7, 41, 50);
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgb(4, 255, 204);
    }
    .content {
      overflow: hidden auto;
      padding-right: 10px;
    }
  }
}

@import "icon";
@import "pop";