@charset "UTF-8";
html, body {
  height: 100%; }

body {
  font: normal normal 14px "Times New Roman", "Microsoft YaHei";
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  line-height: 1; }

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: #000; }

a {
  text-decoration: none;
  color: #000; }

h1, h2, h3, h4, h5, h6, b, u, i, s, em, strong {
  font-weight: normal;
  font-size: unset;
  text-decoration: none;
  font-style: normal; }

ul, ol {
  list-style-type: none; }

.rad-group {
  display: flex;
  height: 36px; }
  .rad-group .rad-item {
    display: flex;
    color: #b6b6b6;
    height: 100%;
    align-items: center;
    margin-right: 50px; }
    .rad-group .rad-item:last-child {
      margin-right: 0; }
    .rad-group .rad-item.on {
      color: #0075d1; }
      .rad-group .rad-item.on .rad-bg {
        border-color: #0075d1; }
        .rad-group .rad-item.on .rad-bg .rad-on {
          display: block; }
    .rad-group .rad-item span {
      cursor: pointer;
      font-size: 16px;
      display: inline-block;
      line-height: 18px;
      vertical-align: middle; }
    .rad-group .rad-item .rad-bg {
      display: inline-block;
      position: relative;
      border-radius: 50%;
      border: 2px solid #b6b6b6;
      width: 16px;
      height: 16px;
      margin-right: 5px; }
      .rad-group .rad-item .rad-bg .rad-on {
        position: absolute;
        border: 3px solid #0075d1;
        border-radius: 50%;
        left: 3px;
        top: 3px;
        display: none; }
      .rad-group .rad-item .rad-bg input {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        cursor: pointer;
        opacity: 0; }

/*自定义多选框容器样式*/
.check-group {
  display: flex;
  padding: 24px 0 20px 10px;
  position: relative; }

/*自定义多选框样式*/
.check-item {
  display: flex;
  line-height: 1;
  margin-right: 74px;
  align-items: center;
  color: #fff; }
  .check-item:last-child {
    margin-right: 0; }
  .check-item.on .check-one i {
    display: block; }
  .check-item .check-one {
    width: 14px;
    height: 14px;
    background: transparent;
    border: 1px solid #4c53a5;
    position: relative;
    margin-right: 5px; }
    .check-item .check-one i {
      position: absolute;
      left: -1px;
      top: -1px;
      display: none; }
    .check-item .check-one input {
      position: absolute;
      width: 12px;
      height: 12px;
      display: block;
      left: 0;
      top: 0;
      cursor: pointer;
      opacity: 0; }

.center {
  width: 1120px;
  margin: 0 auto;
  height: 100%; }

.main-title {
  border-bottom: 2px solid #0075d1;
  color: #0075d1;
  font-size: 22px;
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 17px;
  width: 100%; }
  .main-title a {
    color: #0075d1;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 14px; }

.else-title {
  border-bottom: 2px solid #0075d1;
  color: #0075d1;
  font-size: 28px;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 30px;
  width: 100%; }
  .else-title > span {
    font-size: 16px; }
  .else-title > ul {
    position: absolute;
    right: 0;
    display: flex;
    top: 0;
    height: 28px;
    font-size: 18px;
    text-align: center; }
    .else-title > ul li {
      width: 120px; }
      .else-title > ul li:hover, .else-title > ul li.active {
        background: #0075d1; }
        .else-title > ul li:hover a, .else-title > ul li.active a {
          color: #fff; }
      .else-title > ul li a {
        display: block;
        line-height: 28px;
        width: 100%;
        height: 100%; }

.page {
  display: flex;
  height: 36px;
  justify-content: center; }
  .page li {
    width: 36px;
    border: 1px solid #0075d1;
    color: #0075d1;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    line-height: 36px;
    margin-right: 10px; }
    .page li:last-child {
      margin-right: 0; }
    .page li.disabled {
      pointer-events: none;
      border-color: #bebebe;
      color: #9fa0a0; }
      .page li.disabled a {
        color: #9fa0a0; }
    .page li.active, .page li:hover {
      background: #2597f0;
      color: #fff; }
      .page li.active a, .page li:hover a {
        color: #fff; }
    .page li.first, .page li.last {
      width: 56px; }
    .page li.prev, .page li.next {
      width: 74px; }
    .page li.more-prev, .page li.more-next {
      line-height: 25px;
      font-weight: bold;
      background: none;
      cursor: default;
      color: #0075d1;
      border: 0; }
    .page li a {
      display: block;
      height: 100%;
      color: #0075d1;
      line-height: 36px; }

.accordion {
  width: 100%;
  border-top: 1px solid #aeaeae; }
  .accordion > li {
    border-width: 0 1px 1px 1px;
    border-color: #aeaeae;
    border-style: solid;
    padding: 0 20px;
    height: 45px;
    overflow: hidden;
    transition: height ease-in-out 500ms; }
    .accordion > li.show .accordion-title .do span:nth-child(1) {
      display: none; }
    .accordion > li.show .accordion-title .do span:nth-child(2) {
      display: block; }
    .accordion > li.keep-show {
      height: auto; }
      .accordion > li.keep-show .accordion-title .do {
        display: none;
        pointer-events: none; }
    .accordion > li .accordion-title {
      display: flex;
      position: relative;
      align-items: center;
      font-size: 16px;
      height: 44px; }
      .accordion > li .accordion-title .name {
        color: #404040;
        font-weight: bold; }
      .accordion > li .accordion-title .do {
        position: absolute;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        display: flex;
        align-items: center;
        right: 0;
        color: #777777;
        cursor: pointer; }
        .accordion > li .accordion-title .do span {
          display: none;
          margin-right: 5px; }
          .accordion > li .accordion-title .do span:nth-child(1) {
            display: block; }
    .accordion > li .accordion-body {
      border-top: 1px dashed #dcdcdc; }

.disabled {
  pointer-events: none;
  border-color: #959595 !important;
  background: #959595 !important;
  color: #ffffff !important; }
  .disabled a {
    color: #ffffff !important; }

.icon {
  background: url("../img/icon.png") no-repeat;
  display: inline-block;
  cursor: pointer; }

.form-group {
  width: 100%;
  color: #262626;
  display: flex;
  flex-wrap: wrap; }
  .form-group .form-item {
    display: flex;
    margin-bottom: 28px;
    width: 100%; }
    .form-group .form-item:nth-last-child(2) {
      margin-bottom: 0; }
    .form-group .form-item.error .form-right.else {
      border-color: red; }
    .form-group .form-item.error .form-right > input {
      border-color: red; }
    .form-group .form-item.error .form-right .rad-group {
      border: 1px solid red; }
    .form-group .form-item.error .form-right > select {
      border-color: red; }
    .form-group .form-item.must .form-right:after {
      content: '*';
      position: absolute;
      color: #ff5e5e;
      line-height: 36px;
      top: 0;
      right: -12px; }
    .form-group .form-item .form-left {
      width: 100px;
      height: 36px;
      line-height: 36px;
      text-align: right;
      padding-right: 12px; }
    .form-group .form-item .form-right {
      width: calc(100% - 100px);
      position: relative;
      display: inline-flex; }
      .form-group .form-item .form-right.else {
        border: 1px solid #aeaeae; }
        .form-group .form-item .form-right.else:hover {
          border-color: #0075d1; }
      .form-group .form-item .form-right.file > input {
        width: calc(100% - 66px);
        margin-right: 10px; }
      .form-group .form-item .form-right.date > input {
        background: transparent;
        cursor: pointer; }
      .form-group .form-item .form-right.date .icon {
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: -1; }
      .form-group .form-item .form-right > input {
        height: 36px;
        width: 100%;
        border: 1px solid #aeaeae;
        padding: 0 10px; }
        .form-group .form-item .form-right > input:focus {
          border-color: #0075d1; }
      .form-group .form-item .form-right > select {
        height: 36px;
        width: 100%;
        border: 1px solid #aeaeae;
        padding: 0 10px; }
        .form-group .form-item .form-right > select:focus {
          border-color: #0075d1; }
      .form-group .form-item .form-right > textarea {
        min-height: 112px;
        max-height: 112px;
        min-width: 100%; }
        .form-group .form-item .form-right > textarea:focus {
          border-color: #0075d1; }
      .form-group .form-item .form-right > button {
        width: 56px;
        height: 36px;
        border: 1px solid #3864ae;
        background: #ffffff;
        color: #0075d1; }
        .form-group .form-item .form-right > button:hover {
          color: #ffffff;
          background: #0075d1; }
      .form-group .form-item .form-right .img {
        width: 111px;
        height: 111px;
        border: 1px solid #4c53a5;
        display: inline-block;
        vertical-align: top;
        margin-right: 35px; }
        .form-group .form-item .form-right .img img {
          width: 100%;
          height: 100%; }
      .form-group .form-item .form-right .prompt {
        position: absolute;
        color: #f81243;
        top: 42px;
        left: 5px;
        font-size: 12px; }
  .form-group .controls {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%; }
    .form-group .controls button {
      width: 103px;
      height: 38px;
      font-size: 18px;
      margin-right: 64px;
      border: 1px solid #0075d1;
      background: #0075d1;
      color: #ffffff; }
      .form-group .controls button:hover {
        background: #005ea7;
        border-color: #005ea7; }
      .form-group .controls button.else {
        color: #0075d1;
        border: 1px solid #0075d1;
        background: #ffffff; }
        .form-group .controls button.else:hover {
          color: #ffffff;
          background: #0075d1; }
      .form-group .controls button:last-child {
        margin-right: 0; }

.pop-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.44);
  display: none;
  z-index: 1000; }
  .pop-bg.show {
    display: block; }
  .pop-bg .pop {
    height: max-content;
    background: #ffffff;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 435px; }
    .pop-bg .pop.show {
      display: block; }
    .pop-bg .pop.small .icon-close-else, .pop-bg .pop.big .icon-close-else {
      right: 17px;
      top: 17px; }
    .pop-bg .pop.small .title, .pop-bg .pop.big .title {
      font-size: 18px;
      margin: 0;
      color: #ffffff;
      padding-left: 30px;
      text-align: left;
      height: 50px;
      line-height: 50px; }
    .pop-bg .pop.small {
      width: 345px; }
      .pop-bg .pop.small .title {
        background: #ffa800; }
      .pop-bg .pop.small .controls button {
        width: 198px; }
    .pop-bg .pop.big {
      width: 850px; }
      .pop-bg .pop.big .title {
        background: #0075d1; }
      .pop-bg .pop.big .controls button {
        width: 130px; }
    .pop-bg .pop .icon-close, .pop-bg .pop .icon-close-else {
      position: absolute;
      right: 20px;
      top: 20px; }
    .pop-bg .pop .title {
      font-size: 22px;
      color: #0075d1;
      text-align: center;
      margin: 40px 0 30px; }
    .pop-bg .pop .content {
      margin-bottom: 30px; }
      .pop-bg .pop .content > .icon {
        display: block;
        margin: 35px auto 25px; }
      .pop-bg .pop .content > p {
        font-size: 18px;
        color: #494949;
        text-align: center; }
      .pop-bg .pop .content .form-item {
        margin-bottom: 20px;
        display: flex;
        justify-content: center; }
        .pop-bg .pop .content .form-item:last-child {
          margin-bottom: 0; }
        .pop-bg .pop .content .form-item.error .form-right input {
          border-color: red; }
        .pop-bg .pop .content .form-item.error .form-right.else {
          border-color: red; }
        .pop-bg .pop .content .form-item.must .form-right:after {
          content: '*';
          position: absolute;
          color: #ff5e5e;
          line-height: 46px;
          top: 0;
          right: -12px; }
        .pop-bg .pop .content .form-item .form-left {
          width: 90px;
          display: block;
          height: 46px;
          line-height: 46px; }
        .pop-bg .pop .content .form-item .form-right {
          width: 310px;
          height: 46px;
          text-align: left;
          display: flex;
          justify-content: space-between;
          position: relative; }
          .pop-bg .pop .content .form-item .form-right ::-webkit-input-placeholder {
            color: #b4b4b4; }
          .pop-bg .pop .content .form-item .form-right :-moz-placeholder {
            color: #b4b4b4; }
          .pop-bg .pop .content .form-item .form-right ::-moz-placeholder {
            color: #b4b4b4; }
          .pop-bg .pop .content .form-item .form-right :-ms-input-placeholder {
            color: #b4b4b4; }
          .pop-bg .pop .content .form-item .form-right input {
            border: 1px solid #aeaeae;
            color: #0075d1;
            padding: 0 15px;
            font-size: 16px;
            width: 100%;
            height: 100%; }
            .pop-bg .pop .content .form-item .form-right input:focus {
              border-color: #0075d1; }
          .pop-bg .pop .content .form-item .form-right button {
            color: #0075d1;
            border: 1px solid #0075d1;
            background: #ffffff;
            font-size: 16px;
            height: 100%;
            width: 130px; }
            .pop-bg .pop .content .form-item .form-right button:hover {
              color: #ffffff;
              background: #0075d1; }
          .pop-bg .pop .content .form-item .form-right.else {
            border: 1px solid #4c53a5; }
          .pop-bg .pop .content .form-item .form-right.code input {
            width: calc(100% - 140px); }
    .pop-bg .pop .controls {
      margin-bottom: 24px;
      display: flex;
      justify-content: center; }
      .pop-bg .pop .controls button {
        width: 310px;
        height: 44px;
        font-size: 18px;
        margin-right: 50px;
        border: 1px solid #0075d1;
        background: #0075d1;
        color: #ffffff; }
        .pop-bg .pop .controls button:hover {
          background: #005ea7;
          border-color: #005ea7; }
        .pop-bg .pop .controls button.yellow {
          background: #ffa800;
          border-color: #ffa800; }
          .pop-bg .pop .controls button.yellow:hover {
            background: #ff8400;
            border-color: #ff8400; }
        .pop-bg .pop .controls button.else {
          color: #0075d1;
          border-color: #0075d1;
          background: #ffffff; }
          .pop-bg .pop .controls button.else:hover {
            color: #ffffff;
            background: #0075d1; }
        .pop-bg .pop .controls button:last-child {
          margin-right: 0; }
    .pop-bg .pop .add {
      border-top: 1px solid #dcdcdc;
      width: 308px;
      margin: 0 auto 50px;
      padding-top: 24px;
      text-align: center; }
      .pop-bg .pop .add a {
        cursor: pointer;
        color: #747474; }

.icon-close {
  width: 16px;
  height: 16px;
  background-position: -31px -97px;
  opacity: .5; }

.icon-close-else {
  width: 16px;
  height: 16px;
  background-position: -3px -97px;
  opacity: .5; }

.icon-close:hover, .icon-close-else:hover {
  opacity: 1; }

.icon-open {
  width: 12px;
  height: 7px;
  background-position: -20px 0; }

.icon-shrink {
  width: 12px;
  height: 7px;
  background-position: -42px 0; }

.icon-shrink-tit {
  width: 10px;
  height: 6px;
  background-position: 0 0; }

.icon-time {
  width: 16px;
  height: 16px;
  background-position: 0 -12px; }

.icon-time-tit {
  width: 16px;
  height: 16px;
  background-position: 0 -33px; }

.icon-see {
  width: 20px;
  height: 14px;
  background-position: -26px -13px; }

.icon-see-tit {
  width: 20px;
  height: 14px;
  background-position: -26px -34px; }

.icon-downland {
  width: 19px;
  height: 18px;
  background-position: -29px -54px; }

.icon-downland-tit {
  width: 19px;
  height: 18px;
  background-position: 0 -54px; }

.icon-circle-tit {
  width: 7px;
  height: 7px;
  background-position: -5px -81px; }

.icon-success {
  width: 70px;
  height: 70px;
  background-position: -165px 0; }

.icon-fail {
  width: 70px;
  height: 70px;
  background-position: -66px 0; }

.icon-logo {
  width: 64px;
  height: 47px;
  background-position: -69px -74px; }

.icon-date {
  width: 16px;
  height: 16px;
  background-position: 0 -122px; }

.pop-bg .msg-pop {
  z-index: 1;
  box-shadow: 0 0 24px rgba(146, 146, 146, 0.75);
  background: #fff8ea; }
  .pop-bg .msg-pop .content {
    margin: 60px 0 55px; }
.pop-bg .success-pop {
  z-index: 1;
  box-shadow: 0 0 24px rgba(146, 146, 146, 0.75);
  background: #ecf7ff; }
  .pop-bg .success-pop .content {
    margin-bottom: 35px; }
.pop-bg .fail-pop {
  z-index: 1;
  box-shadow: 0 0 24px rgba(146, 146, 146, 0.75);
  background: #ecf7ff; }
  .pop-bg .fail-pop .content {
    margin-bottom: 35px; }
.pop-bg .changPhoneFirst-pop .content .form-item .phone {
  justify-content: normal; }
.pop-bg .login-pop .title {
  font-size: 14px;
  margin-top: 65px; }
  .pop-bg .login-pop .title .between {
    margin: 15px 0 6px; }
.pop-bg .login-pop .content {
  margin-bottom: 0; }
.pop-bg .login-pop > a {
  color: #747474;
  display: inline-block;
  margin: 10px 0 20px 62px;
  cursor: pointer; }
.pop-bg .login-pop .add {
  margin-bottom: 66px; }

header {
  background: #004983;
  color: #fff;
  min-width: 1120px;
  height: 70px; }
  header .center {
    display: flex; }
    header .center .logo {
      width: 375px;
      display: flex;
      align-items: center; }
      header .center .logo img {
        width: 74px;
        height: 54px; }
      header .center .logo .name {
        margin-left: 5px; }
        header .center .logo .name p:first-child {
          margin-bottom: 8px; }
    header .center .menu {
      width: calc(100% - 375px); }
      header .center .menu > div {
        color: #aad7f7;
        height: 33px;
        line-height: 33px;
        text-align: right;
        position: relative; }
        header .center .menu > div > a {
          color: #aad7f7; }
        header .center .menu > div > span {
          display: flex;
          width: 80px;
          position: absolute;
          right: 0;
          height: 100%;
          align-items: center;
          justify-content: flex-end;
          color: #aad7f7; }
          header .center .menu > div > span strong {
            margin-right: 8px; }
          header .center .menu > div > span:hover ul {
            display: block; }
          header .center .menu > div > span ul {
            position: absolute;
            bottom: -64px;
            z-index: 3;
            right: 0;
            display: none;
            width: 105px;
            text-align: left;
            border: 1px solid #022b4b;
            background: #003e70; }
            header .center .menu > div > span ul li {
              height: 32px;
              padding-left: 10px;
              cursor: pointer; }
              header .center .menu > div > span ul li:hover {
                background: #003159; }
                header .center .menu > div > span ul li:hover a {
                  color: #d9eaf6; }
              header .center .menu > div > span ul li a {
                line-height: 32px;
                display: block;
                height: 100%;
                color: #aad7f7; }
      header .center .menu .nav {
        height: calc(100% - 33px);
        width: 763px;
        display: flex; }
        header .center .menu .nav li {
          width: calc(100% / 7); }
          header .center .menu .nav li a {
            color: #fff;
            font-size: 18px;
            display: block;
            width: 100%;
            line-height: 37px;
            text-align: center;
            height: 100%; }
          header .center .menu .nav li.active, header .center .menu .nav li:hover {
            background: rgba(0, 0, 0, 0.14); }

section {
  min-width: 1120px;
  min-height: calc(100% - 289px); }
  section .banner {
    min-width: 1120px;
    height: 250px; }
    section .banner.big {
      height: 400px; }
    section .banner img {
      width: 100%;
      height: 100%; }
  section .news-out {
    display: block;
    width: 100%;
    height: 100%;
    position: relative; }
    section .news-out:hover .news-img:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.11); }
    section .news-out.else:hover .news-tit {
      color: #0075d1; }
  section .news-img {
    width: 100%;
    vertical-align: middle;
    position: relative; }
    section .news-img img {
      width: 100%;
      height: 100%; }
  section .news-tit {
    font-size: 16px;
    color: #444343;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; }
  section .news-summary {
    color: #747474;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; }
  section .news-data {
    width: 100%;
    color: #afafaf;
    display: flex;
    align-items: center; }
    section .news-data span:nth-child(2) {
      margin: 0 10px 0 8px; }
    section .news-data i:nth-child(4) {
      margin: 0 10px 0 45px; }

footer {
  min-width: 1120px;
  background: #004983;
  color: #cae4f9; }
  footer a {
    color: #cae4f9; }
  footer .link {
    width: 30%;
    margin-left: 30px;
    padding: 40px 0 12px 0; }
    footer .link p {
      margin-bottom: 25px; }
    footer .link ul {
      display: flex;
      flex-wrap: wrap; }
      footer .link ul li {
        width: 50%;
        margin-bottom: 18px; }

/*# sourceMappingURL=main1.css.map */
