@charset "utf-8";
.pop-bg {
  //公共消息弹窗
  .hzxm-pop {
    .content {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      max-height: 388px;
      .item {
        background: url("../img/xipushengtai/hzxm_item.png") 100% 100% no-repeat;
        width: 326px;
        height: 388px;
        margin-right: 50px;
        margin-bottom: 30px;
        padding: 10px;
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3) {
          margin-bottom: 0;
        }
        .logo {
          height: 70px;
          background: #134743;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
        p {
          color: #00fff6;
          font-size: 18px;
          line-height: 1.4;
          text-align: center;
          overflow: hidden;
        }
        .msg {
          text-indent: 2em;
          line-height: 1.5;
          max-height: 212px;
          overflow-y: auto;
          margin-top: 10px;
        }
        .strong {
          color: #ffde03 !important;
        }
      }
    }
  }
  .rzpx-pop {
    .content {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      max-height: 298px;
      .item {
        background: url("../img/xipushengtai/rzpx_item.png") 100% 100% no-repeat;
        width: 526px;
        height: 298px;
        margin-right: 30px;
        margin-bottom: 20px;
        padding: 10px;
        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-last-child(1), &:nth-last-child(2) {
          margin-bottom: 0;
        }
        .logo {
          height: 70px;
          background: #134743;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
        p {
          color: #00fff6;
          font-size: 18px;
          line-height: 1.4;
          text-align: center;
          overflow: hidden;
        }
        .msg {
          text-indent: 2em;
          line-height: 1.5;
          max-height: 145px;
          overflow-y: auto;
          margin-top: 10px;
        }
      }
    }
  }
  .zqhz-pop {
    .content {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      max-height: 364px;
      .item {
        width: 200px;
        height: 44px;
        background: rgb(11, 55, 52);
        border: 1px solid rgb(7, 255, 207);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 22px;
        margin-bottom: 20px;
        &:nth-child(5n) {
          margin-right: 0;
        }
        &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4), &:nth-last-child(5) {
          margin-bottom: 0;
        }
        img {
          width: 180px;
          height: 30px;
        }
      }
    }
  }
}
