@charset "utf-8";
@import "main";

//主体内容
section {
  &.home {
    .header {
      background: url("../img/home/home_header.png") 100% 100%;
      font-size: 44px;
      width: 1880px;
      margin: 0 auto 50px;
      height: 106px;
      line-height: 106px;
      color: #00fff6;
      text-align: center;
    }
    .section {
      display: flex;
      width: 1819px;
      height: 727px;
      margin: 0 auto;
      justify-content: space-between;
      .left, .right {
        > div {
          position: relative;
          > .bg {
            position: absolute;
            left: -22px;
            top: -26px;
            z-index: -1;
          }
          > .tit {
            color: #00fff6;
            font-size: 21px;
            position: absolute;
            width: 100%;
            top: -10.5px;
            text-align: center;
          }
        }
      }
      .left {
        width: 356px;
        .xpst {
          height: 167px;
          padding-top: 40px;
          cursor: pointer;
          p {
            font-size: 19px;
            padding-left: 40px;
            overflow: hidden;
            white-space: nowrap;
            i {
              margin-right: 10px;
            }
            em {
              font-size: 24px;
              color: #ff6666;
            }
            &.enterprise {
              margin: 5px 0;
              em {
                color: #ff9933;
              }
            }
            &.student {
              em {
                color: #0fbf2a;
              }
            }
          }
        }
        .yxgk {
          height: 233px;
          margin: 47px 0;
        }
        .cptx {
          height: 233px;
          padding-top: 26px;
          .detail {
            margin: 0 auto;
            display: block;
          }
          p {
            font-size: 14px;
            position: absolute;
            width: 69px;
            text-align: center;
            line-height: 1.5;
            span {
              white-space: nowrap;
              overflow: hidden;
              display: inline-block;
              width: 100%;
            }
          }
          .dsj {
            left: 47px;
            top: 54px;
          }
          .wlaq {
            left: 145px;
            top: 116px;
          }
          .rgzn {
            right: 47px;
            top: 54px;
          }
        }
      }
      .center {
        width: 997px;
        position: relative;
        > .bg {
          position: absolute;
          left: -28px;
          top: -29px;
        }
      }
      .right {
        width: 416px;
        .kctx {
          height: 395px;
          background: url("../img/home/kctx_bg.png") no-repeat 36px 47px;
          .gear {
            border-radius: 50%;
            cursor: pointer;
            position: absolute;
            img {
              vertical-align: top;
              animation: to-right linear 4s infinite;
            }
            p {
              position: absolute;
              font-size: 25px;
              color: #1889fc;
              width: 55px;
              line-height: 1.2;
            }
            &.rgzn {
              top: 140px;
              left: 77px;
              &:hover, &.active {
                background: radial-gradient(circle at center, rgba(0, 109, 220, 1), rgba(0, 109, 220, 0), rgba(0, 0, 0, 0));
              }
              p {
                top: 22px;
                left: 25px;
              }
              img {
                animation-name: to-left;
              }
            }
            &.wlaq {
              top: 67px;
              left: 174px;
              &:hover, &.active {
                background: radial-gradient(circle at center, rgba(28, 154, 184, 1), rgba(28, 154, 184, 0), rgba(0, 0, 0, 0));
              }
              p {
                color: #33dbff;
                left: 35px;
                top: 29.5px;
              }
            }
            &.dsj {
              bottom: 41px;
              right: 90px;
              &:hover, &.active {
                background: radial-gradient(circle at center, rgba(0, 148, 118, 1), rgba(0, 148, 118, 0), rgba(0, 0, 0, 0));
              }
              p {
                font-size: 33px;
                color: #00e1b3;
                width: auto;
                left: 30.5px;
                top: 62px;
              }
            }
          }
        }
        .yxcg {
          height: 290px;
          margin-top: 42px;
          padding: 20px 0;
          cursor: pointer;
          .content {
            padding: 0 20px;
            height: 100%;
            position: relative;
            overflow: hidden;
            .group {
              position: absolute;
              .row {
                display: flex;
                margin-bottom: 12px;
                &:last-child {
                  margin-bottom: 0;
                }
                .item {
                  width: 101px;
                  margin-right: 36.5px;
                  &:last-child {
                    margin-right: 0;
                  }
                  .logo {
                    height: 101px;
                    background: url("../img/home/yxcg_logo_bg.png") 100% 100% no-repeat;
                    img {
                      width: 66%;
                      height: 66%;
                      margin: 17%;
                    }
                  }
                  p {
                    font-size: 12px;
                    text-align: center;
                    line-height: 1.5;
                    overflow: hidden;
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer {
      background: url("../img/home/home_tab.png") 100% 100% no-repeat;
      width: 1788px;
      height: 61px;
      margin: 80px auto 0;
      ul {
        display: flex;
        height: 100%;
        justify-content: center;
        li {
          width: 145px;
          background: url("../img/home/home_tab_item.png") 100% 100% no-repeat;
          position: relative;
          a {
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            height: 44px;
            line-height: 44px;
            font-size: 19px;
            border-radius: 35px 35px 0 0;
          }
          &.active {
            width: 256px;
            background: url("../img/home/home_tab_active.png") 100% 100% no-repeat;
            a {
              height: 52px;
              line-height: 52px;
              font-size: 26px;
              color: #00fff6;
              border-radius: 52px 52px 0 0;
            }
          }
        }
      }
    }
    .top {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: none;
      &.rgzn {
        display: block;
        .close-img {
          right: 442px;
          top: 241px;
        }
        .rgzn-img {
          display: block;
          right: 357px;
          top: 194px;
        }
      }
      &.wlaq {
        display: block;
        .close-img {
          right: 437px;
          top: 252px;
        }
        .wlaq-img {
          display: block;
          right: 253px;
          top: 205px;
        }
      }
      &.dsj {
        display: block;
        .close-img {
          right: 440px;
          top: 241px;
        }
        .dsj-img {
          display: block;
          right: 265px;
          top: 194px;
        }
      }
      img {
        display: none;
        position: absolute;
      }
      .close-img {
        display: block;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }
  &.xipushengtai, &.yuanxiaochenggong {
    button.back {
      position: absolute;
      top: 34px;
      right: 30px;
      width: 95px;
      height: 42px;
      font-size: 18px;
      color: #00fff6;
      border: 1px solid #00fff6;
      box-shadow: 0 0 3px 3px rgba(0, 255, 246, .69), 0 0 18px 14px rgba(0, 255, 246, .47) inset;
      &:hover {
        box-shadow: 0 0 3px 3px rgba(0, 255, 246, .69), 0 0 18px 14px rgba(0, 255, 246, .6) inset;
      }
    }
  }
  &.xipushengtai {
    .header {
      background: url("../img/xipushengtai/header.png") 100% 100% no-repeat;
      font-size: 44px;
      width: 510px;
      margin: 0 auto 80px;
      height: 67px;
      line-height: 67px;
      color: #00fff6;
      text-align: center;
    }
    .section {
      position: relative;
      img {
        margin: 0 auto;
        display: block;
      }
      .hide {
        position: absolute;
        cursor: pointer;
      }
      .top {
        width: 56px;
        height: 111px;
        top: 0;
        left: 937px;
      }
      .bottom {
        width: 56px;
        height: 111px;
        bottom: 0;
        left: 937px;
      }
      .left {
        width: 137px;
        height: 53px;
        top: 379px;
        left: 217px;
      }
      .right {
        width: 129px;
        height: 55px;
        top: 376px;
        right: 221px;
      }
    }
  }
  &.yuanxiaochenggong {
    .header {
      background: url("../img/yuanxiaochenggong/header.png") 100% 100% no-repeat;
      font-size: 44px;
      width: 510px;
      margin: 0 auto 80px;
      height: 67px;
      line-height: 67px;
      color: #00fff6;
      text-align: center;
    }
    .footer {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      button {
        background: url("../img/yuanxiaochenggong/footer_btn.png") no-repeat;
        width: 216px;
        height: 67px;
        color: #00fff6;
        font-size: 26px;
        &:hover, &.active {
          background: url("../img/yuanxiaochenggong/footer_btn_active.png");
          color: #ffde03;
        }
        & + button {
          margin-left: 36px;
        }
      }
    }
  }
}

// 动画
@keyframes to-right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes to-left {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}